@tailwind base;

@tailwind components;

@tailwind utilities;


.container {
    width:80%;
    margin: 0 auto;
}

.coding {
    height:100%;
}

.text { 
    position: relative;
    display: inline-block;
    font-family: Monaco, Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 16px;
}

*{
    transition: all 200ms ease-in-out
}

.typing{
    padding-left: 5px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation: 2s typing steps(50, end) infinite;
 
}

.cursor {
    width: 4px;
    height: 16px;
    background-color: lightcoral;
    display: inline-block;
    animation: 1s blinking infinite;
  
}

@keyframes typing {
    from { width: 0; }
}

@-webkit-keyframes typing {
    from { width: 0; }
}
  
@keyframes blinking{
    0% {
        opacity: 0
    }
    100%{
        opacity: 1
  }

}
  
@keyframes typing{
    from{
        width: 0;
    }
}

.modal {
    transition: opacity 0.25s ease;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.project-card .second-section {
    background: linear-gradient(0deg, rgba(43,108,176,1) 35%, rgba(99,179,237,1) 100%); 

}


/* frame */


.browser-mockup {
    border-top: 2em solid rgba(230, 230, 230, 0.7);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0
  }
  
  .browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }
      
  .browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -2em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
  }
  
  .browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
    /* content: "stickit.online"; */
    padding-left:2px;
  }
  
  .browser-mockup > * {
    display: block;
  }
  
  /* Custom code for the demo */
  
  .browser-mockup {
    margin: 2em;
    flex: 1;
  }
  
  img {
    width: 100%;
  }

/* endframe */