<template>
<div>
    <div  class="col-sm-4" v-for="product in products" :key="product.id">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <img :src="product.mainImage" alt="main image" />
                        <h2>$ {{ product.price }}</h2>
                        <p>{{ product.name }}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>$ {{ product.price }}</h2>
                            <p>{{ product.name }}</p>
                            <p>{{ product.description }}</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            products: {},
        }
    },
    
    mounted() {
        this.loadProdcuts()
        
        Echo.private('product')
            .listen('ProductCreated', (e) => {
                console.log(e)
                this.products.push(e.product)
            });
    },

    methods: {
        loadProdcuts() {
             axios.get('/api/products')
                .then((response) => {
                    this.products = response.data
                }).catch((error) => {
                    console.log(error)
                });
        },
    }
}
</script>

<style>

</style>